@import "tailwindcss";
@import "tw-animate-css";

html {
  font-family: var(--font-dm-sans);
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-dm-sans);
  overflow-x: clip;
  background-color: white;
  color: #333;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 100%;
}

@layer components {
  .customSection {
    @apply relative flex min-h-screen justify-center overflow-hidden py-40;
  }

  .customContainer {
    @apply relative container z-[1] max-w-[1400px] lg:max-w-[1100px] xl:max-w-[1400px] px-4;
  }

  .mainTitle {
    @apply w-full sm:w-auto text-center text-[clamp(90px,20vw,120px)] sm:text-[160px] xl:text-[200px];
  }
}